NEXT_PUBLIC_SITE_URL=https://doubledoublegood.co.uk
NEXT_PUBLIC_CONTACT_FORM_ENDPOINT=
NEXT_PUBLIC_BEEHIIV_FORM_URL=https://subscribe-forms.beehiiv.com/76ad9125-803e-4eae-98f9-d77178150405
NEXT_PUBLIC_REVIEWS_EMBED_URL=
NEXT_PUBLIC_REVIEWS_WIDGET_ID=
NEXT_PUBLIC_REVIEWS_SCRIPT_URL=https://static.elfsight.com/platform/platform.js
